<h1 class="labelTitle text text-center">JUEGOS</h1>
<section style="background-color: transparent; height: 100vh">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <a href="/juegos/ahorcado" class="text-decoration-none">
            <div
              class="card h-100 shadow-2-strong border border-info border-5 rounded custom-border-dotted"
            >
              <img
                src="../../../assets/images/hangman-game.png"
                class="card-img-top"
                alt="Juego 1"
              />
              <div class="card-body">
                <h5 class="card-title">Ahorcado</h5>
                <p class="card-text">
                  Adivina la palabra antes de que el personaje sea colgado.
                  Elige letras y resuelve el misterio en este clásico juego de
                  ingenio y vocabulario.
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="/juegos/preguntados" class="text-decoration-none">
            <div
              class="card h-100 shadow-2-strong border border-info border-5 rounded custom-border-dotted"
            >
              <img
                src="../../../assets/images/quiz.png"
                class="card-img-top"
                alt="Juego 2"
                style="max-width: 70px"
              />
              <div class="card-body">
                <h5 class="card-title">Preguntados</h5>
                <p class="card-text">
                  Selecciona un tema y responde preguntas basadas en él. Tendrás
                  opciones para elegir la respuesta correcta, pero cuidado: solo
                  tienes tres vidas para equivocarte. ¿Hasta dónde podrás
                  llegar?
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="/juegos/mayor-menor" class="text-decoration-none">
            <div
              class="card h-100 shadow-2-strong border border-info border-5 rounded custom-border-dotted"
            >
              <img
                src="../../../assets/images/MayorMenor.png"
                class="card-img-top"
                alt="Juego 3"
              />
              <div class="card-body">
                <h5 class="card-title">Mayor o menor</h5>
                <p class="card-text">
                  Adivina si la siguiente carta será mayor o menor que la
                  anterior. Juega con tu intuición y suerte en este emocionante
                  reto de cartas.
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="/juegos/tiro-al-blanco" class="text-decoration-none">
            <div
              class="card h-100 shadow-2-strong border border-info border-5 rounded custom-border-dotted"
            >
              <img
                src="../../../assets/images/goal.png"
                class="card-img-top"
                alt="Juego 4"
              />
              <div class="card-body">
                <h5 class="card-title">Tiro al blanco</h5>
                <p class="card-text">
                  Apunta y dispara a las dianas que aparecen en la pantalla para
                  sumar puntos dentro del tiempo límite. Elige entre tres
                  niveles de dificultad y demuestra tu habilidad en este
                  emocionante reto de puntería.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
