
.body{
  overflow: visible;
}
.labelTitle{

  font-family: "Crang",sans-serif;

  position: relative;

  font-size: 3rem; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
  color: transparent;
  text-shadow:
    1px 1px 0 #0947cea8, /* Borde derecho */
    -1px -1px 0 #00f7ff, /* Borde izquierdo */
    1px -1px 0 #0400ff, /* Borde inferior */
    -1px 1px 0 #0026ff; /* Borde superior */
  top: 1%;

  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #191e27;
}

.card-img-top {
  width: 15%;
  height: auto;
}

.card-body {
  width: auto;
  padding: auto;
  text-align: left;
  background-color: #191e27;
  font-size: 0.875em;
  font-family: "clacon",sans-serif;
  color: #00d9ff;

}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
}
