<h1 class="labelTitle text-center">ThunderGames</h1>
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-2-strong border border-info border-5 rounded custom-border-dotted"
        >
          <div class="card-body text-center">
            <h3 class="FormTitle">-Francisco Hulej-</h3>
            <img
              src="../../../assets/images/aboutMe.jpg"
              class="imagenMia"
              alt="yo-imagen"
            />
            <label class="label-text"
              >El juego que he elegido se basa en el concepto de tiro al blanco.
              En él, los jugadores deben disparar a objetivos que aparecen
              dentro de una zona limitada. La dificultad del juego puede ser
              ajustada, lo que influirá en el tiempo durante el cual los
              objetivos permanecen visibles en la pantalla. El desafío consiste
              en disparar a la mayor cantidad de objetivos posible antes de que
              se acabe el tiempo.
            </label>

            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
