<h1 class="labelTitle text-center">ThunderGames</h1>
<section>
  <div
    class="container custom-height d-flex justify-content-center align-items-center"
  >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card shadow-2-strong border border-info border-5 rounded custom-border-dotted"
        >
          <div class="card-body text-center position-relative">
            <h3 class="FormTitle">-Francisco Hulej-</h3>
            <div class="image-container">
              <img
                src="../../../assets/images/aboutMe.jpg"
                class="imagenMia"
                alt="yo-imagen"
              />
              <div class="card text-left left-card">
                <div class="card-body">
                  <p>
                    Mi nombre es Francisco Hulej, tengo 22 años y actualmente
                    estoy cursando el último cuatrimestre de la carrera de
                    Técnico en Programación en la UTN. A su , estoy completando
                    algunas materias correspondientes al tercer cuatrimestre.
                  </p>
                </div>
              </div>
              <div class="card text-right right-card">
                <div class="card-body">
                  <p>
                    El juego que he elegido se basa en el concepto de tiro al
                    blanco. En él, los jugadores deben disparar a objetivos que
                    aparecen dentro de una zona limitada. La dificultad del
                    juego puede ser ajustada, lo que influirá en el tiempo
                    durante el cual los objetivos permanecen visibles en la
                    pantalla. El desafío consiste en disparar a la mayor
                    cantidad de objetivos posible antes de que se acabe el
                    tiempo.
                  </p>
                </div>
              </div>
            </div>
            <label class="label-text"> </label>
            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
