
@font-face {
    font-family: 'Crang';
    src: url('../assets/fonts/Crang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family:'clacon' ;
    src: url('../assets/fonts/clacon2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }