<h1 class="labelTitle text-center">ThunderGames</h1>
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-2-strong border border-info border-5 rounded custom-border-dotted"
        >
          <div class="card-body text-center">
            <h3 class="FormTitle">Iniciar Sesion</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="email"
                id="typeEmailX-2"
                class="form-control form-control-lg"
                [(ngModel)]="email"
                name="email"
                placeholder="Ingrese su email"
              />
              <label class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="password"
                id="typePasswordX-2"
                class="form-control form-control-lg"
                [(ngModel)]="password"
                name="password"
                placeholder="Ingrese su contraseña"
              />
              <label class="form-label" for="typePasswordX-2">Contraseña</label>
            </div>

            <div class="d-flex justify-content-center mb-4">
              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btnInicioSesion btn btn-primary mx-2"
                type="button"
                (click)="onLogin()"
              >
                Iniciar sesión
              </button>

              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btnRegistro btn btn-danger mx-2"
                type="button"
                (click)="goToRegistro()"
              >
                Registro
              </button>
            </div>

            <div class="d-flex justify-content-center">
              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btnAccesoRapido1 btn btn-secondary mx-2"
                type="button"
                (click)="accesoRapido1()"
              >
                Acceso Rápido 1
              </button>

              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btnAccesoRapido2 btn btn-secondary mx-2"
                type="button"
                (click)="accesoRapido2()"
              >
                Acceso Rápido 2
              </button>
            </div>

            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
