


.login-container {
  display: flex;
  //height: vh;
  font-family: "Crang",sans-serif;

  font-size: 2rem; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
  color: transparent;
  text-shadow:
    1px 1px 0 #0947cea8, /* Borde derecho */
    -1px -1px 0 #00f7ff, /* Borde izquierdo */
    1px -1px 0 #0400ff, /* Borde inferior */
    -1px 1px 0 #0026ff; /* Borde superior */
}

.labelLogin{
  display: block;
}
.labelTitle{

  font-family: "Crang",sans-serif;



  font-size: 2.5rem; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
  color: transparent;
  text-shadow:
    1px 1px 0 #0947cea8, /* Borde derecho */
    -1px -1px 0 #00f7ff, /* Borde izquierdo */
    1px -1px 0 #0400ff, /* Borde inferior */
    -1px 1px 0 #0026ff; /* Borde superior */
  padding: 0rem;
}

.form-label{
  font-size: 1rem;
  font-family: "clacon",sans-serif;
  color: #00d9ff;
 

}
.btnInicioSesion{
  font-family: "clacon",sans-serif;
}

.letraLogin{
  font-size: 1rem;
}

.card-body{
  background-color:#191e27de;
  display: flex;
  font-family: "clacon",sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 1rem;

}
.FormTitle{
  top:1%;
  font-size: 2em;
  font-family: "clacon",sans-serif;
  color: #00d9ff;
  font-weight: bold;

}



