<div class="game-container">
  <h1 class="title">Tiro al Blanco</h1>
  <h2 class="timer">Tiempo Restante {{ tiempoRestante }} Segundos</h2>
  <div
    id="target-area"
    class="target-area shadow-2-strong border border-info border-5 rounded custom-border-dotted"
  >
    <div
      class="card d-flex align-items-center justify-content-center"
      *ngIf="!empezo"
    >
      <h1 class="dificultad">Dificultad</h1>
      <button
        class="btn btn-success mx-2"
        (click)="setDificultad('facil'); startGame()"
      >
        Fácil
      </button>
      <button
        class="btn btn-success mx-2"
        (click)="setDificultad('normal'); startGame()"
      >
        Normal
      </button>
      <button
        class="btn btn-success mx-2"
        (click)="setDificultad('dificil'); startGame()"
      >
        Difícil
      </button>
    </div>
    <div
      *ngFor="let target of targets"
      class="target"
      [ngStyle]="{ 'top.px': target.top, 'left.px': target.left }"
      (click)="shootTarget(target)"
    >
      <img
        src="../../../assets/images/diana.png"
        alt="Target"
        class="target-img"
      />
    </div>
  </div>
  <div class="scoreboard">
    <h2>Puntaje: {{ puntaje }}</h2>
  </div>

  <button class="btn btn-dark mx-2" (click)="endGame()">Terminar</button>
</div>
