.header-container {
  display: flex;
  justify-content: space-between; /* Separa logo y comboBox */
  padding: 10px 20px;
  background-color: transparent;
}
.logo img {
  height: 40px;
}



.nav-btn {
  font-family: "clacon";
  background-color: #191e27;
  border: none;
  padding: 5px 10 px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  
}

.nav-btn:hover {
  background-color: #161e68;
}

.profileComboBox {
  //position: absolute; /* Esto hace que esté fuera del flujo de layout */
  right: 20px;
  font-family: "clacon";
  background-color: #191e27;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  //width: 100%;
  text-overflow: ellipsis;
}

.profileSelect {
  appearance: none;
  color: white;
  background: #191e27;
  border: none;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.profileSelect:focus {
  outline: none;
}
