<header class="header-container">
  <div class="logo">
    <img
      src="../../../assets/images/thunderLogo.png"
      class="logo"
      alt="logo-img"
    />
  </div>
  <nav class="nav-buttons">
    <button (click)="goToHome()" class="nav-btn">Home</button>
    <button *ngIf="isLoggedOut" (click)="goToLogin()" class="nav-btn">
      Login
    </button>
    
    <button (click)="goToChat()" class="nav-btn">Chat</button>
    <button (click)="goToAbout()" class="nav-btn">Acerca de mi</button>
  </nav>
  <div class="profileComboBox">
    <select (change)="mostrarPerfil($event)" class="profileSelect">
      <option value="perfilSelect">Perfil</option>
      <option value="emailSelect">{{ userEmail }}</option>
      <option value="logoutSelect">Cerrar sesión</option>
    </select>
  </div>
</header>
